@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
